.container {
  // width: 1200px;
  //   position: relative;

  //   padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 772px) {
    width: 772px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
